body {
  background: #CDFFE2;
  color: #0025FF;
  font-family: "Figtree", serif;
}

section {
  padding: 20px;
}

hr {
  border: 1px solid #0025FF;
}

/* Practice: Navbar */

.navbar {
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #0025FF;
}

/* Practice: Equal-width cards */

.card-container {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}

.card {
  background: lightblue;
  border: 2px solid #0025FF;
  padding: 20px;
  flex: 1;
}