body {
  background: #CDFFE2;
  color: #0025FF;
  font-family: "Figtree", serif;
}

section {
  padding: 20px;
}

hr {
  border: 1px solid #0025FF;
}

/* Practice: Navbar */

.navbar {
  padding: 10px;
  background: white;
}

.logo {
  width: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #0025FF;
}

/* Practice: Equal-width cards */

.card {
  background: lightblue;
  border: 2px solid #0025FF;
  padding: 20px;
}

/* Codealong: Plan and code a card */
.flex-container {
  display: flex;
}

.card-image {
  width: 450px;
  margin-right: 5px;
}

article {
  width: 375px;
  height: 500px;
  background: white;
  color: rgb(0, 24, 164);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  /* border: 2px solid blue; */
  border-color: blue;
  border-style: solid;
  border-width: 16px 16px 2px 2px;
}

.top-text p {
  margin: 0;
}

.bold {
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

.preamble {
  font-weight: 500;
  font-size: 20px;
}

.button {
  background: blue;
  color: white;
  padding: 15px 25px;
  border-radius: 40px;
  text-decoration: none;
  text-decoration: ;
  font-weight: 500;
}