body {
  margin: 0;
}

.hero-container {
  position: relative;
  height: 50vh;
  overflow: hidden;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-video {
  position: absolute;
  z-index: -1;
  /* Styling the poster image 👇*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-heading {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
}
